* {
    margin: 0;
    padding: 0;
    
}
:root {
    --primary-color: rgba(207, 51, 60);
    --secondary-color: rgba(68, 150, 76);
}
header {
    background-color: var(--primary-color);
    color: white;
    padding: 30px;
    text-align: center;
    border-bottom: solid 15px var(--secondary-color);
    font-size: larger;
}

.hero {
    width: 100%;   
    height: auto; 
    display: block;  
    border-bottom: solid 10px var(--primary-color);
}

#data, #weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    line-height: 1.7;
}
.weather-title::after {
    content: "";
}

h2 {
    text-align: center;
    grid-column: 1 / -1;
}
.titles {
    text-align: right;
}
.contents-1 {
    list-style: none;
}
.weather-img {
    grid-column: 1 / -1;
    display: block;
    margin: 0 auto 1rem;
    width: 80px;
}
.contents-2 {
    list-style: none;
}

footer {
    margin-top: 50px;
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    text-align: center;
    border-top: solid 10px red;
}