
main {
    max-width: 800px;
    padding: 2rem;
    border-radius: 10px;
    margin: 1px auto;
}

form fieldset {
    border: 2px solid var(--secondary-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: #ffd3a8;
}

p {
    font-size: smaller;
}

form legend {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

main h1 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 0.2rem 0 0.2rem;
    font-weight: bold;
    padding-top: 20px;
}

form input, form select, form textarea {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0;
    border-radius: 4px;
    height: 44px;
    border: 2px solid var(--accent-color-1);
}

#delivery-options-radio {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
    margin-top: 15px;
}

#delivery-options-radio label {
    display: flex;
    align-items: center;
    gap: 10px; 
    cursor: pointer;
    width: auto;
}

#delivery-options-radio input[type="radio"] {
    flex-shrink: 0; 
    width: auto;
    height: auto;
}

#delivery-options {
    display: none; 
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 10px;
    width: 100%;
}

#delivery-options input {
    width: 95%;
    max-width: 400px;
}

button[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--accent-color-2);
    padding: 0.75rem 7rem;
    font-size: 1.1rem;
    border: 2px solid var(--accent-color-1);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
}

button[type="submit"]:hover {
    opacity: 0.8;
}

#orderSummary {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #ffdebe;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
}
