main {
    max-width: 800px;
    padding: 2rem;
    border-radius: 10px;
    margin: 1px;
}
  
form fieldset {
    border: 2px solid var(--secondary-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: #ffd3a8;
}
p {
    font-size: smaller;
}
form legend {
    margin-bottom: 0.5rem;
    font-weight: bold;
}
  
form label {
    display: block;
    margin: 0.2rem 0 0.2rem;
    font-weight: bold;
    padding-top: 20px;
}
  
form input, form select, form textarea {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0;
    border-radius: 4px;
    height: 44px;
    border: 2px solid var(--accent-color-1);
}
#delivery-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
input[type="radio"] {
    width: 20px; 
    height: 20px;
    margin-right: 0.5rem;
    cursor: pointer;
}
  
button[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--accent-color-2);
    padding: 0.75rem 7rem;
    font-size: 1.1rem;
    border: 2px solid var(--accent-color-1);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
}
  
button[type="submit"]:hover {
    opacity: 0.8;
}
  
#orderSummary {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #ffdebe;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
}