* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: rgb(66, 1, 171);
    --secondary-color: rgb(255, 253, 243);
}
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}
#menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

#mobile-nav {
    display: none;
}
nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
#mobile-nav.open {
    display: block;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav a:hover {
    color: rgb(255, 141, 141);
}
nav li {
    margin: 1rem 0;
}

main h1 {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

#temples {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;           
    justify-items: center;
    padding: 20px;
}

.temple-card {
    border: 1px solid rgba(129, 129, 129, 0.5);
    padding: 15px;
    border-radius: 1px;
    max-width: 400px;  
    background-color: rgb(200, 200, 200); 
    text-align: center;
    margin: 30px auto; 

}

.temple-card img {     
    display: block;
    margin: 10px 0;
    width: 100%;                 
    border-radius: 1px;
    box-shadow: 0 0 20px rgb(63, 63, 63);
}

.temple-card h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.temple-card p {
    margin: 2px 0;
    font-size: 1em;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
    color: var(--secondary-color);
}