@media screen and (min-width: 600px) {

    #temples {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    header h2 {
        flex: 1;
    }
    header nav {

        flex: 1; 
    }

    nav li {
        margin: 0;
    }
    #mobile-nav {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
    }
    #menu {
        display: none;
    }

}


