@media screen and (min-width: 500px) {

    header {
        background-color: black;
        color: whitesmoke;
        border: none;
        padding: 10px;
        }
    main {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}
