* {
    margin: 0;
    padding: 0;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    gap: 1rem;
}
body {
    font-family: "Roboto", sans-serif;
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 10px solid rgb(176, 184, 229);
    background-color: rgb(176, 184, 229);
}

section {
    padding: 1rem;
    background-color: aliceblue;
}
